.main {
    /* Leaving this as an off-white background */
    background-color: #fdfdfd;
}

.noauth {
    /* No auth pages have off-white background */
    background-color: #fdfdfd;
}

.card {
    background-image: url("~assets/images/faded.png");
    background-position: center;
    background-size: 50%;
}

.modal, .modal-overlay {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Logo on app-bar */
.title-text {
    font-family: 'Courier New', Courier, monospace;
    color: #575757;
}

.title {
    border-radius: 8px;
    box-shadow: 0px 0px 5px #231F20;
    background-color: #DDDDDD;
    padding: 3px;
    font-style: italic;
    font-weight: 600;
    transition: transform 0.5s;
}

.title:hover {
    transform: scale(1.125);
}

.icon {
    color: #8ea9c9;
}

/* All cards */
.card {
    background-color: #e4dfcd88;
}

.card-title {
    word-break: break-word; 
    color: #575757;
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Page header */

h2, h3, h4 {
    background-color: #d3d3d3;
    border-radius: 20px;
    color: #575757;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer {
    font-size: 14px;
}
